{% extends 'basic.html' %}
{% load static %}

{% block content %}

<div id="register" class="container text-center">
    <div class="row align-items-center">

      <div class="col">
        </div>
        <div class="col">
        </div>
      <div class="col">
        <br>
            <form action="" method="post"  class="formcontrol " novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ثبت نام">
            </form>
            <br>
      </div>
  
    </div>
  </div>

    
{% endblock %}